h1{
    text-align: center;
    margin-top: 70px;
    margin-right: 10px;
}
div#Sign{

    background: url(../images/SignIn.png) no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin:0 auto;
    margin-bottom: 20px;
}
div#Form form table{
    width: 500px;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 40px;
}
td{
    border: 1px solid black;
    background-color: yellow;
    font-weight: bold;
    
}
input[name="ResButton"]{
    margin: 5px 5px 5px 5px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}